body{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
  margin:0 auto;
}

/* ロゴ */
.logo img{
  width:250px;
}

/* ヘッダー部 */
header{
  width:90%;
  height:60px;
  background-color:black;
  margin-bottom: 30px;
}

header ul{
  list-style: none;
  line-height: 60px;
}

header ul li{
  float:left;
  list-style: none;
  line-height: 60px;
  padding-left:30px;
  padding-right:30px;
  color:white;
}

/* ハイパーリンクデコレーションを変更 */
header ul li a{
  color:white;text-decoration: none;
}

ul li a{
  color:black;text-decoration: none;
}

/* メイン */
main{
  clear:both;
}

.main-container{
  text-align: center;
  width: 90%;
  margin:0 auto;
}

/* メイン左 */
.left{
  float:left;
  /* background-color:skyblue; */
  width:65%;
  margin-right:50px;
  text-align: left;
}

.left h2{
  text-align: left;
  border-left:5px solid black;
  border-bottom:3px solid black
}

.left h1{
  display:inline-block;
  text-align: left;
  margin:0 auto;
  margin-top:30px;
  margin-left:10px;
  margin-bottom:20px;
  border-left:4px red solid;
  background-color:#fbfbfb;
  padding-top:5px;
  padding-left:15px;
  width:300px;
  font-size:20px;

}


 form{
  margin: 0 auto;
  margin-bottom:10px;
  background-color: #fbfbfb;
  border:3px #ebebeb solid;
  border-radius:3px;
  width:100%;
}

form div{
  padding:15px;
}

.text, textarea{
  float:left;
  border:1px solid #dfdfdf;
  padding:5px;
  color:#999;
  background:#fff;
}

.textarea{
  width:300px;
}

.submit{
  border:1px solid lightgray;
  padding:4px 10px;
  color:white;
  background-color:#bfbfbf;
  border-radius:5px;
  border-bottom:solid 2px gray;
}

.left h3{
  border-bottom: 3px dotted black;
}

/* メイン右 */
.right{
  float:left;
  /* background-color:lightblue; */
  width: 25%;
  text-align: left;
}

.right h3 {
  border-bottom: 3px dotted black;

}

.right ul{
  list-style: none;
  margin-left: -35px;
  margin-top: -10px;
  line-height: 30px;
}

/* フッター部 */
footer{
  clear:left;
  width:100%;
  height:60px;
  line-height: 60px;
  color:white;
  text-align:center;
  background-color: black;
}